{
  "extends": "airbnb-base",

  "rules": {
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],

    "no-param-reassign": "off",
    "no-shadow": "off",
    "consistent-return": "off",
    "max-len": "off",
    "no-unused-vars": "off",
    "no-useless-escape": "off"
  }
}